*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.container-App{

    .content-App{
        background: linear-gradient(to right, #262d46, #0e0f14);
        margin-left: 90px;
        height: 100vh;
        color: #fff;
        padding: 20px;
    }
}